name: Build and Release

permissions:
  contents: write

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Clean dist
        run: rm -rf dist

      - name: Build
        run: npm run build

      - name: Zip dist folder
        run: |
          cd dist
          zip -r ../gupy-linkedin-sync.zip .

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: gupy-linkedin-sync.zip
          draft: false
